<%# views/layout.erb %>
  <header>
    <div><%= yield_content :header %></div>
  </header>

  <%# ...  %>

  <main>
    <%= yield %>
  </main>


<html>
  <body>
    <header>
      <h1>Title</h1>
      <div><%= yield_content :header_links %></div>
    </header>
    <h1>Company Name:</h1>

    <main>
      <%= yield %>
    </main>
    
  </body>
</html>

