<form action="/<%= @file_name %>" method="post">
  <label for="content">Editing <%= @file_name %>:</label>

  <textarea name="content" id="content" rows = "10" cols = "50"><%= 
    @file.strip 
  %></textarea>

  <input type="submit" value="Save Changes">
</form>