<form action="/new" method="post">
  <label for="file_name">Create a new Document:</label>

  <div>
    <input type="text" id="file_name" name="file_name" value=<%= params[:file_name] %>>
    <button type="submit">Create</button>
  </div>
</form>