<form action="/new" method="post">
  <label for="file_name">Create a new Document:</label>

  <div>
    <input type="text" id="file_name" name="file_name" value=<%= params[:file_name] %>>
    <button type="submit">Create</button>
  </div>
</form>


<p>Or, duplicate an existing file:</p>

<% @file_names.each do |file_name| %>
  <form action="/<%= file_name %>/duplicate" method="post">
    <input class="submit-link" type="submit" value="<%= file_name %>">
  </form>
<% end %>